<h1>Podcaster</h1>
<p>Podcaster is a simple tool for managing podcast feeds and episodes</p>
<h2>Looking for a feed?</h2>
<p>
  Podcast feeds managed in podcaster use the following url format:<br/>
  <%= "#{request.original_url}feeds/[feed slug].xml" %>
</p>

